<% provide(:title, "Ranking") %>
<h1>List of players</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "position" %></th>
      <th><%= sortable "nickname" %></th>
      <th>Wins/Matches</th>
      <th><%= sortable "rank" %></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
    <tr>
      <td class="col-md-1"><%= player.position %></td>
      <td class="col-md-2"><%= link_to player.full_name, player_path(player) %></td>
      <td class="col-md-1"><%= player.number_of_wins %> / <%= player.number_of_matches %></td>
      <td class="col-md-1"><%= player.rank %></td>
    </tr>
    <% end %>
  </tbody>
</table>