<% provide(:title, "Add new player") %>
<h1>Add new player</h1>
<%= form_for @player do |f| %>
  <%= render '/shared/error_messages', object: f.object %>
  <%= f.label :firstname %>
  <%= f.text_field :firstname %><br>
  <%= f.label :lastname %>
  <%= f.text_field :lastname %><br>
  <%= f.label :nickname %>
  <%= f.text_field :nickname %><br>
  <%= f.file_field :avatar, as: :file %><br>
  <%= f.submit "Add player" %>
<% end %>