<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - FoosballTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
  
  <div class="row">
    <%= render 'layouts/navigation' %>      
      <div class="col-sm-10"><!--content-->
        <div class="row">
          <div class="col-xs-12">            
            <div class="row">
              <div class="col-sm-10"><!--content-->
                <%= render 'layouts/messages' %>
                <%= yield %>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>   
        
 </div><!--/content-->

    <footer class="row footer">
      <div class="panel-footer"><p>&copy; 2015 Jan Mrowiec</p></div>
    </footer>



</body>
</html>
